{% extends base.html%}

{%block content%}

<div class="about">

<h1>About CareerWise</h1>

<p>
    Careerwise is a mobile application that helps secondary school students discover and learn about potential career paths. 
    The initial version of the app will let users create accounts, login and download the app. This version will also enable users to view different career options and scholarships. After concluding user testing on this version, the app will let users view the subject requirements for each course and take personality tests. The third version would let users  join the Careerwise community. Future plans include updates on online workshops and career fairs, allowing parent users and personalizing the user experience.
  
    Our team worked on a research project where we visited  secondary schools, and  interviewed students about their aspirations. Over half the class in each school did not know what they wanted to become, or what skills were required for the career they wanted to pursue. The goal of Careerwise  is to provide a bridge between students and the best career suited for them.
    
</p>

</div>


{%endblock content%}