<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous"> 

    
    <!-- custom CSS -->
    <link rel="stylesheet" href="{{url_for('static', filename='stylesheet/style.css')}}" > 
    
    
    <title>{% block title %}{% endblock %}</title>
    
  </head>
  <body style= "min-height: 100vh; display: flex; flex-direction: column;">

    <nav class="navbar navbar-expand-sm navbar-dark bg-dark">
        <div class="container-fluid">
          <h1><a class="navbar-brand" style="margin: 0 25vw 0 0;" href=#>CareerWise</a></h1>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#mynavbar">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="mynavbar">
            
            <ul class="navbar-nav me-auto" style="font-size: 25px; font-weight: 500;">
             
              <li class="nav-item" id="navvlinks">
                <a class="nav-link" href=#>Home</a>
              </li>
              
              <li class="nav-item" id="navvlinks">
                <a class="nav-link" href=#>About</a>
              </li>
              
              <li class="nav-item" id="navvlinks">
                <a class="nav-link" href=#>Testimonials</a>
              </li>
            </ul>
              
            
            <!-- <a href=#>
            <button type="button" class="btn btn-default btn-sm btn-outline-dark text-light">
              <span class="glyphicon glyphicon-log-out"></span> Log out
            </button>
            </a> -->
           
            <a href="{{url_for('login')}}" style="margin: 0 3vw 0 0;">
            <button type="button" class="btn btn-default btn-lg btn-outline-dark text-light">
              <span class="glyphicon glyphicon-log-out"></span> Log in
            </button>
            <!-- <div></div> -->
            </a>
              <a href="{{url_for('signup')}}">
            <button type="button" class="btn btn-default btn-lg btn-outline-dark text-light">
              <span class="glyphicon glyphicon-log-out"></span> Sign Up
            </button>
            </a>
            
            
          </div>
        </div>
      </nav>

      {% block content %}  {% endblock %}

    <!-- Footer 
    <footer class="text-muted py-5 border-top border-dark" style="margin-top: auto; padding: 2rem 0 2rem 0;">
      <div class="container">
        <p class="float-end mb-1">
          <a href="#">Back to top</a>
        </p>
        <p class="mb-1"> © CareerWise </p>
      </div>
    </footer>  -->

    <footer class="text-center text-white" style="background-color: #f1f1f1; margin-top: auto">
      <!-- Grid container -->
      <div class="container pt-4">
        <!-- Section: Social media -->
        <section class="mb-4">
          <!-- Facebook -->
          <a
            class="btn btn-link btn-floating btn-lg text-dark m-1"
            href="#!"
            role="button"
            data-mdb-ripple-color="dark"
            ><i class="fab fa-facebook-f"></i
          ></a>
    
          <!-- Twitter -->
          <a
            class="btn btn-link btn-floating btn-lg text-dark m-1"
            href="#!"
            role="button"
            data-mdb-ripple-color="dark"
            ><i class="fab fa-twitter"></i
          ></a>
    
          <!-- Google -->
          <a
            class="btn btn-link btn-floating btn-lg text-dark m-1"
            href="#!"
            role="button"
            data-mdb-ripple-color="dark"
            ><i class="fab fa-google"></i
          ></a>
    
          <!-- Instagram -->
          <a
            class="btn btn-link btn-floating btn-lg text-dark m-1"
            href="#!"
            role="button"
            data-mdb-ripple-color="dark"
            ><i class="fab fa-instagram"></i
          ></a>
    
          <!-- Linkedin -->
          <a
            class="btn btn-link btn-floating btn-lg text-dark m-1"
            href="#!"
            role="button"
            data-mdb-ripple-color="dark"
            ><i class="fab fa-linkedin"></i
          ></a>
          <!-- Github -->
          <a
            class="btn btn-link btn-floating btn-lg text-dark m-1"
            href="#!"
            role="button"
            data-mdb-ripple-color="dark"
            ><i class="fab fa-github"></i
          ></a>
        </section>
        <!-- Section: Social media -->
      </div>
      <!-- Grid container -->
    
      <!-- Copyright -->
      <div class="text-center text-dark p-3" style="background-color: rgba(0, 0, 0, 0.2);">
        © 2020 Copyright:
        <a class="text-dark" href="/">CareerWise</a>
      </div>
      <!-- Copyright -->
    </footer>
    <!-- Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    
  </body>
</html>