{% extends 'base.html' %}

{% block content %}
    <!-- CAREERS -->
    <section class="careers">
        <h1>Career List</h1>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit.</p>

        <div class="row">
            <div class="career-col">
                <h3>Scientist</h3>
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quisquam nemo, aliquam voluptatem impedit ratione, quod autem ad consequuntur praesentium rem laborum ut tempora ex fuga delectus, voluptates pariatur. Animi, quibusdam.</p>
            </div>

            <div class="career-col">
                <h3>Engineer</h3>
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quisquam nemo, aliquam voluptatem impedit ratione, quod autem ad consequuntur praesentium rem laborum ut tempora ex fuga delectus, voluptates pariatur. Animi, quibusdam.</p>
            </div>

            <div class="career-col">
                <h3>Product Designer</h3>
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quisquam nemo, aliquam voluptatem impedit ratione, quod autem ad consequuntur praesentium rem laborum ut tempora ex fuga delectus, voluptates pariatur. Animi, quibusdam.</p>
            </div>
        </div>

    </section>

    {% endblock content %}

