{% extends 'base.html' %}


{% block content %}

<div id="profiler-1">
{%set starts = start|int +12 %}
{%if starts <= max %}
{% set profiler = url_for('profiler',question=type ,start=starts) %}
{%else%}
{% set profiler = url_for('results') %}
{%endif%}


<form action ={{profiler}} method = 'post'>
{%for items in question%}
<p>{{items.text}}</p>

<div class="profiler-option">
    {%for option in answer%}
            <input type="radio" id="red" name="{{items.index}}" value="{{option.value}}" />
            <label for="red">{{option.name}}</label><br />
          
            {%endfor%}
          </div>
          {%endfor%}
    {%if starts > 59 %}

    <input type ="submit" value ="submit" class ="submit-btn" >
    {%else%}

    <input type ="submit" value ="Next" class ="submit-btn" >
    {%endif%}

  </div>
</form>




{% endblock content %}

    